<!-- Slider -->
<div class="slider" #wrapper>
    <div class="slider_wrapper" *ngIf="slider.active !== -1">

        <!-- Slides -->
        <div *ngFor="let slide of slider.slides; let i = index;">
            <a href="{{ slide.url }}" target="_blank">
                <img class="slider__slide"
					 [@animateSlide]="i === slider.active ? slider.animation : 'inactive'"
					 (@animateSlide.start)="animationStarted($event)"
					 (@animateSlide.done)="animationDone($event)"
					 height="{{ page['browser-height'] - 50 }}"
                     src="{{ slide.src }}"
                />
            </a>
        </div>

        <!-- Slider Navigation -->
        <div class="slider__navigation layout-row" *ngIf="slider.slides.length > 1">

            <!-- Pagination -->
            <div class="slider__navigation__pagination layout-row">
                <div *ngFor="let slide of slider.slides; let i = index;" class="layout-row" (click)="selectSlide(i)">
                    <div class="slider__navigation__pagination_circle" [ngClass]="{'active': i === slider.active}"></div>
                </div>
            </div>

        </div>

    </div>
</div>
