<div #ytStyle class="yt" *ngIf="!yt.loading">

	<!-- Albums -->
	<div class="albums">

		<div [style.height.px]="yt['size']">
			<div class="album {{ getStyle(i) }} {{ (isActiveAlbum(i) && highlightAlbum) ? 'highlight' : '' }}"
				 [style.width.px]="yt['size']" [style.height.px]="yt['size']"
				 *ngFor="let album of yt.albums; let i = index">

				<!-- Album Cover - Open Album -->
				<div class="album-cover" (click)="openAlbum(i)">
					<img src="{{ album.img }}" />
					<h1>{{ album.title }}</h1>
				</div>

				<!-- Unfocused Cover - Focus/Highlight Album -->
				<div class="click-catcher" (click)="focusAlbum(i)"></div>

			</div>
		</div>

		<!-- Navigate - Select Album -->
		<div class="btns {{ btnsLocked ? 'disabled' : '' }}">
			<div class="flex"></div>

			<div class="btn" (click)="selectAlbum(i)" *ngFor="let btn of yt.albums; let i = index">
				<div class="{{ isActiveAlbum(i) ? 'active' : '' }}"></div>
			</div>

			<div class="flex"></div>
		</div>

	</div>

	<!-- Album -->
	<div class="video-popup {{ yt['popup-active'] ? 'active_popup' : '' }}">

		<div>
		<!-- Photo Album -->
		<div class="video-content" [style.width.px]="yt['size']" [style.height.px]="yt['size']">
			<img src="{{ yt ['albums'] [ yt['selected-album'] ].img }}" />
		</div>

		<!-- Video playlist -->
		<div class="album-content" [perfectScrollbar]="{}" *ngIf = "yt['popup-active']" [style.height.px]="yt['size']">

			<div *ngFor = "let video of yt.albums [yt['selected-album']] .videos; let i = index">

				<div *ngIf = "isSelectedVideo(yt['selected-album'], i)">

					<!-- replay -->
					<img *ngIf 	 = "(yt['state'] === 0)"
						 (click) = "playVideo()"
						 src 	 = "{{ (path['app']  + 'play_outline_white.svg') }}"
					/>
					<!-- pause -->
					<img *ngIf 	 = "(yt['state'] === 1)"
						 (click) = "pauseVideo()"
						 src 	 = "{{ (path['app'] + 'pause_outline.svg') }}"
					/>
					<!-- play -->
					<img *ngIf 	 = "(yt['state'] === 2)"
						 (click) = "playVideo()"
						 src 	 = "{{ (path['app'] + 'play_outline.svg') }}"
					/>
					<!-- loading -->
					<div *ngIf 	 = "(yt['state'] < 0 || yt['state'] > 2)" class='uil-ring-css loader' style='transform:scale(1);'><div></div></div>

				</div>

				<div *ngIf = "(! isSelectedVideo(yt['selected-album'], i) )">

					<!-- select -->
					<img (click) = "selectVideo(yt['selected-album'], i)" src="{{ (path['app'] + 'play_outline_white.svg') }}" />

				</div>

				<!-- select -->
				<h1 (click) = "selectVideo(yt['selected-album'], i)" class="video-title">{{ video.title }}</h1>

			</div>

		</div>
		</div>

	</div>

</div>
