<!-- TODO: component for lang -->
<div class="lang {{ loading ? 'fade-in-lang' : 'fade-out-lang' }}">
	<img class = "{{ (app['langs'].selected !== '' && lang !== app['langs'].selected) ? 'hide' : '' }}" *ngFor = "let lang of app['langs'].list" (click) = "selectLang(lang)" src = "{{ app['path'].app + lang + '.svg' }}" width="50%" height="auto" />
</div>

<!-- TODO: fix the scrolling -->
<div #bnb (scroll)="onScroll()" class="main {{ popup.isVisible? 'hide-scrollbar' : '' }} {{ app['header'].isFull ? 'full': '' }}" [ngClass]="{'': false}" [perfectScrollbar]="{}">

	<!-- Slider -->
	<bnb-slider *ngIf 	 = "!slider.loading"
				[slider] = "slider"
				(popup)  = "openPopup($event)"
	></bnb-slider>

	<!-- Header -->
	<bnb-header *ngIf 	     = "!navigation.loading"
				[app] 	     = "app"
				[navigation] = "navigation"
				(playYT)     = "playYT()"
				(closeYT)    = "closeYT()"
				(pauseYT)    = "pauseYT()"
				(toggleYT)   = "toggleYT()"
				(navigate)   = "navigateTo($event)"
	></bnb-header>

	<!-- Content -->
	<div *ngIf = "!loading" class = "content" [style.width.px] = "app['browser'].w" [style.height.px] = "app['browser'].h">

		<!-- Router -->
		<router-outlet></router-outlet>

		<!-- Improvise Adapt Overcome -->
		<div>

			<bnb-video-album class 		  = "{{ isActiveRoute('video-album') ? 'slide-in-left' : 'slide-out-left' }}"
							 [app] 		  = "app"
							 [videoAlbum] = "videoAlbum"
							 (play)		  = "playYT()"
							 (pause) 	  = "pauseYT()"
							 (scroll) 	  = "scrollTo('content')"
							 (selectID)   = "onSelectID($event)"
			></bnb-video-album>

			<bnb-photo-album class = "{{ isActiveRoute('photo-album') ? 'slide-in-right' : 'slide-out-right' }}"></bnb-photo-album>

		</div>

		<!-- YT Player -->
		<bnb-youtube-player [app] = "app"></bnb-youtube-player>

		<!-- Popup -->
		<bnb-popup 	*ngIf	= "popup.isVisible"
				  	[popup]	= "popup"
		></bnb-popup>

	</div>

	<!-- Footer -->
	<bnb-footer	*ngIf	 	 = "!footer.loading"
			    [app]	 	 = "app"
				[footer] 	 = "footer"
			    (popup)	 	 = "openPopup($event)"
	></bnb-footer>

</div>
