.main {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 200;

	.content {
		position: relative;
	}

	&:before {
		display: block;
		position: relative;
		content: '';
		width: 100%;
		height: ~"calc(100% - 50px)";
		background: #fff;
	}
}

.lang {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 999999;
	transform: none;

	img {
		position: relative;
		cursor: pointer;
		transition: all 300ms ease-in-out;
		transform: scale3d(.5, .5, .5);
		margin: auto;

		&:hover {
			transform: scale3d(.75, .75, .75);
		}
	}
	.hide {
		width: 0;
	}
}

.fade-in-lang {
	animation: slide-in-lang 300ms ease-out;
	transform: none;
}

.fade-out-lang {
	animation: slide-out-lang 600ms ease-out;
	transform: translateY(-100%);
}

@keyframes slide-in-lang {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: none;
	}
}

@keyframes slide-out-lang {
	from {
		transform: none;
	}
	50% {
		transform: none;
	}
	to {
		transform: translateY(-100%);
	}
}

@media all and (max-width: 600px) {
	.lang {
		flex-direction: column;
	}
}
