<!-- BOX IN BOX, TODO: component for scrolling-->
<div #bnb (scroll)="onScroll()" class="main {{ popup.isVisible? 'hide-scrollbar' : '' }} {{ page['full-header'] ? 'full' : '' }}" [ngClass]="{'': false}" [perfectScrollbar]="{}">

	<!-- Slider -->
	<bnb-slider *ngIf 	= "!page ['loading']"
				[path] 	= "page ['langs'] [ page['langIndex'] ]"
				(popup) = "openPopup($event)"
	></bnb-slider>

	<!-- Header -->
	<bnb-header *ngIf 		   = "!page['loading']"
				[page] 		   = "page"
				(navigate) 	   = "navigateTo($event)"
				(close) 	   = "closeAlbumAndPlayer()"
				(toggleAlbum)  = "toggleAlbum()"
				(togglePlayer) = "togglePlayer()"
	></bnb-header>

	<!-- Content -->
	<div class="content" [style.width.px]="page['browser-width']" [style.height.px]="page['browser-height'] - 50">

		<!-- Routed Page -->
		<router-outlet></router-outlet>

		<!-- YT player -->
		<bnb-player [player] = "player"
					(state)  = "onStateChange($event)"
		></bnb-player>

		<!-- Popup -->
		<bnb-popup 	*ngIf	= "popup.isVisible"
					  [popup]	= "popup"
		></bnb-popup>

		<!-- Youtube Player, TODO: component for player -->
		<div class="bnb-player {{ page['player'] ['active'] ? 'player_active' : '' }}">

			<youtube-player *ngIf 	  = "page ['player'] ['id'].length > 0"
							width	  = "100%"
							height 	  = "100%"
							[videoId] = "page ['player'] ['id']"
							(ready)	  = "savePlayer($event)"
							(change)  = "onStateChange($event)"
			></youtube-player>

		</div>

	</div>

	<!-- Footer -->
	<bnb-footer	*ngIf	= "page['header-loaded']"
			    [page]	= "page"
			    (popup)	= "openPopup($event)"
	></bnb-footer>

</div>

