<div class="yt {{ yt['style'] }}">

	<!-- Albums -->
	<div class="albums">

		<div class="album {{ yt['active-album'] === i ? 'active' : '' }}" *ngFor="let album of yt.albums; let i = index" (click)="expandAlbum(i)">

			<!-- album cover -->
			<!--<img class="album-cover" src="{{ album.img }}"/>-->
			<h1 class="album-title">{{ album.title }}</h1>

			<!-- album content -->
			<div class="video" *ngFor="let video of album.videos" (click)="selectVideo(video.id)">

				<!-- video cover -->
				<!--<img class="video-cover" src="{{ video.img }}"/>-->
				<h1 class="video-title">{{ video.title }}</h1>

			</div>

		</div>

	</div>

	<div class="video">

		<!-- YT -->
		<iframe class="ytplayer" type="text/html" frameborder="0"
				width="{{ page['browser-width'] }}"
				height="{{ page['browser-height'] - 50 }}"
				[src]="(yt['base-href'] + yt['active-id']) | safe">
		</iframe>

		<!-- click-catcher -->
		<div class="click-catcher"></div>

	</div>

</div>
