html {
    display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
    color: #333;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 14px;
}
body {
	display: flex;
    width: 100%;
    height: 100%;
	overflow: hidden;
}
bnb-app {
	display: flex;
    width: 100%;
    height: 100%;
	overflow: hidden;
}
bnb-main {
	width: 100%;
    height: 100%;
	overflow: hidden;
}
h1 {
    font-size: 48px;
    padding: 30px 0;
}
h2 {
    font-size: 28px;
    padding: 20px 0;
}
h3 {
    line-height: 150%;
    font-size: 24px;
    padding: 10px 0;
}
h4 {
    line-height: 150%;
    font-size: 22px;
    padding: 5px 0;
}
h5 {
    line-height: 125%;
    font-size: 18px;
    padding: 5px 0;
}
p {
    font-size: 18px;
    line-height: 150%;
    padding: 5px 0;
}
a {
    color: #333;
}
.strong {
    font-weight: bold;
}
.center {
    text-align: center;
}
.link {
    color: #369;
}
.layout-row {
	display: flex;
}
.flex {
	flex: 1;
}
.layout-center {
	margin: 0 auto;
}
.padding_50-0 {
	padding: 50px 0;
}

.padding-top_50 {
	padding-top: 50px;
}

.padding-bottom_50 {
	padding-bottom: 50px;
}
.padding_20-0 {
	padding: 20px 0;
}
.text-center {
	line-height: 150%;
	font-size: 18px;
	padding: 10px 0;
	text-align: center;
}
/*
@media all and (max-width: 500px) {
    h1 {
        text-align: left;
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        line-height: 125%;
        font-size: 18px;
    }
    p {
        font-size: 15px;
    }
}
*/

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@keyframes wobble {
	from {
		transform: none;
	}
	15% {
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}
	30% {
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}
	45% {
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}
	60% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}
	75% {
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}
	to {
		transform: none;
	}
}
