<!-- Footer -->
<div class="footer">

	<!-- Loader -->
	<div class="layout-row" *ngIf="footer.loading">
		<div class='uil-ring-css loader' style='transform:scale(1);'><div></div></div>
	</div>

	<!-- Content -->
	<div class="contact" *ngIf="!footer.loading">

		<!-- title -->
		<div>
			<h1 class="title layout-center">{{ footer.contact.data.title }}</h1>
		</div>

		<div class="txt flex">
			<div>

				<!-- Name & Address -->
				<div class="contact-info">
					<div class="flex">
						<div class="layout-row">
							<div class="items">

								<!-- name -->
								<div class="layout-row">
									<div class="icon">
										<img src="{{ page['path'] + footer.contact.data.name.icon }}" />
									</div>
									<div class="item">
										<h3>{{ footer.contact.data.name.name }}</h3>
										<h3>{{ footer.contact.data.name.phone }}</h3>
										<h3>{{ footer.contact.data.name.mail }}</h3>
									</div>
									<div class="flex"></div>
								</div>

								<!-- location -->
								<div class="layout-row">
									<div class="icon">
										<img src="{{ page['path'] + footer.contact.data.location.icon }}" />
									</div>
									<div class="item">
										<h3>{{ footer.contact.data.location.address }}</h3>
										<h3>{{ footer.contact.data.location.city }}</h3>
										<h3>{{ footer.contact.data.location.country }}</h3>
									</div>
									<div class="flex"></div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- description -->
				<div class="desc">
					<div class="layout-row flex">
						<h2>{{ footer.contact.data.description.title }}</h2>
					</div>
					<div class="layout-row">
						<h3 (click)="openPopup(footer.contact.data.description.title, footer.contact.data.description.lines)">{{ footer.contact.data.description['read-more'] }}</h3>
					</div>
				</div>

			</div>
		</div>

	</div>

</div>

<bnb-popup *ngIf="popup.isVisible" [popup]="popup" (close)="popupOnClose()"></bnb-popup>
