<div class="album">

	<!-- Albums -->
	<div class="albums" [style.height.px] = "app['album'].size">

		<div *ngFor = "let album of videoAlbum; let i = index">

			<!-- Album -->
			<div class = "{{ getStyle(i) }}">

				<div [style.width.px]="app['album'].size" [style.height.px]="app['album'].size">

					<!-- Open Album -->
					<div class="album-cover" (click)="openAlbum(i)">

						<!-- cover img -->
						<img src = "{{ album.img }}" />

						<!-- cover title -->
						<h1>{{ album.title }}</h1>

						<!-- cover verse -->
						<div *ngFor = "let line of album.lines">

							<h3>{{ album.line }}</h3>

						</div>

					</div>

					<!-- Focus/Highlight Album -->
					<div class="click-catcher" (click)="focusAlbum(i)"></div>

				</div>

			</div>

		</div>

		<!-- Focus Album -->
		<div class="btns">

			<div class="{{ album['btnsLocked'] ? 'disabled' : '' }}">

				<div class="btn" *ngFor="let btn of videoAlbum; let i = index">

					<div (click)="selectAlbum(i)">

						<div class="{{ isActiveAlbum(i) ? 'btn_active' : '' }}"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- Selected Album -->
	<div class="selected-album">

		<div class="{{ album['active'] ? 'active' : 'inactive' }}">

			<!-- Photos -->
			<div class="album">

				<!-- TODO: make a list of photos -->
				<div [style.width.px] = "app['album'].size" [style.height.px] = "app['album'].size">

					<img src = "{{ videoAlbum[ album['selected'] ].img }}" />

				</div>

			</div>

			<!-- Playlist -->
			<div class = "playlist" *ngIf = "album['active']">

				<div [perfectScrollbar] = "{}"  [style.height.px] = "app['album'].size">

					<!-- Sections -->
					<div *ngFor = "let video of videoAlbum[ album['selected'] ].videos; let i = index">

						<!-- Select Section -->
						<div (click) = "selectVideoEvent(album['selected-album'], i)">

							<h1>{{ video.title }}</h1>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>
