<div class="navigation" [ngClass]="{'fixed': page['fixed-header']}">

    <div class="navigation_container" *ngIf="!navigation.loading" [ngClass]="{'full': page['full-header'] }">

    	<!-- click catcher -->
		<div class="click-catcher {{ navigation.isVisible ? 'fade-in-catcher' :  animate['catcher'] }}" (click)="closeMenu()"></div>

		<bnb-link class="menu"
				  [link]="navigation.menu"
				  [path]="page['path']"
				  (click)="toggleMenu()">
		</bnb-link>

		<div class="navigation-bar {{ navigation.isVisible ? 'slide-in-nav' : animate['side-nav'] }}">

			<bnb-link class="menu"
					  [link]="navigation.menu"
					  [path]="page['path']"
					  (click)="toggleMenu()">
			</bnb-link>

			<div class="links">
				<div *ngFor="let link of navigation.links; let i = index">

					<bnb-link *ngIf="link.type !== 'dropdown'"
							  [link]="link"
							  [path]="page['path']"
							  (click)="navigateTo(link, i)">
					</bnb-link>

					<bnb-dropdown *ngIf="link.type === 'dropdown'"
								  [path]="page['path']"
								  [dropdown]="link.dropdown"
								  (selected)="navigateToSelected(link, i)">
					</bnb-dropdown>

				</div>
			</div>

		</div>

    </div>

</div>

<!-- space after switching to fixed position -->
<div class="space" *ngIf="page['fixed-header']"></div>
