<div *ngIf="!navigation.loading">
	<div class="click-catcher-clone {{ navigation.isVisible ? 'active' : '' }}"></div>
	<div class="click-catcher" *ngIf="navigation.isVisible" (click)="closeMenu()"></div>
</div>

<div class="navigation" [ngClass]="{'fixed': page['fixed-header']}">
    <div class="navigation_container" *ngIf="!navigation.loading" [ngClass]="{'full': page['full-header'] }">

        <div class="menu" (click)="toggleMenu()">
            <img src="{{ page['path'] + 'menu.svg' }}" />
        </div>

        <div class="links {{ navigation.isVisible ? '' : 'hidden' }}" [@headerAnimation]="navigation.animation">

            <div *ngFor="let link of navigation.links; let i = index">

                <bnb-link *ngIf="link.type !== 'dropdown'"
						  [link]="link"
						  [path]="page['path']"
                          (click)="navigateTo(link, i)">
                </bnb-link>

                <bnb-dropdown *ngIf="link.type === 'dropdown'"
							  [path]="page['path']"
                              [dropdown]="link.dropdown"
                              (selected)="navigateToSelected(link, i)">
                </bnb-dropdown>

            </div>
        </div>

    </div>
</div>

<div class="space" *ngIf="page['fixed-header']"></div>
