<div class="navigation {{ (page ['album'] ['active'] || page ['player'] ['active']) ? 'align_left' : '' }}" [ngClass]="{'fixed': page['fixed-header']}">

    <div *ngIf="!navigation.loading" class="navigation_container {{ page['full-header'] ? 'full' : '' }}">

    	<!-- click catcher -->
		<div class="click-catcher {{ navigation.isVisible ? 'fade-in-catcher' :  animate['catcher'] }}" (click)="closeMenu()"></div>

		<bnb-link class="menu"
				  [link]="navigation.menu"
				  [path]="page['path']"
				  (click)="toggleMenu()">
		</bnb-link>

		<div class="navigation-bar {{ navigation.isVisible ? 'slide-in-nav' : animate['side-nav'] }}">

			<bnb-link class="menu"
					  [link]="navigation.menu"
					  [path]="page['path']"
					  (click)="toggleMenu()">
			</bnb-link>

			<div class="links">
				<div *ngFor="let link of navigation.links; let i = index">

					<bnb-link *ngIf="link.type !== 'dropdown'"
							  [link]="link"
							  [path]="page['path']"
							  (click)="navigateTo(link, i)">
					</bnb-link>

					<bnb-dropdown *ngIf="link.type === 'dropdown'"
								  [path]="page['path']"
								  [dropdown]="link.dropdown"
								  (selected)="navigateToSelected(link, i)">
					</bnb-dropdown>

				</div>
			</div>

		</div>

		<div class="control" *ngIf="page ['album'] ['active'] || page ['player'] ['active']">

			<img *ngIf 	 = "page ['album'] ['active']"
				 src 	 = "{{ page['path'] + 'album.png' }}"
				 class 	 = "album"
				 title	 = "ALBUM"
				 (click) = "toggleAlbumEvent()"
			/>

			<img *ngIf 	 = "page ['player'] ['id'].length > 0"
				 src 	 = "{{ page['path'] + 'youtube.png' }}"
				 class 	 = "player"
				 title	 = "PLAYER"
				 (click) = "togglePlayerEvent()"
			/>

			<img src 	 = "{{ page['path'] + 'close.svg' }}"
				 class 	 = "sm"
				 title	 = "CLOSE"
				 (click) = "closeEvent()"
			/>

		</div>

    </div>

</div>

<!-- space after switching to fixed position -->
<div class="space" *ngIf="page['fixed-header']"></div>
