
.yt {
	position: relative;
	min-width: 100%;
	width: 100%;
	min-height: 100%;
	height: 100%;
	background: #fff;
	z-index: 200;
}

.albums {
	position: relative;
	display: flex;
	width: 100%;
	min-height: ~"calc(100% - 100px)";
	padding: 50px 0;
	-webkit-box-shadow: inset 0 0 50px 10px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 0 50px 10px rgba(0,0,0,0.25);
	box-shadow: inset 0 0 50px 10px rgba(0,0,0,0.25);
	z-index: 200;

	> div {
		margin: auto 0;
	}
	.album {
		position: absolute;
		display: flex;
		-webkit-box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.75);
		box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.75);
		cursor: pointer;
		visibility: hidden;
		transform: translateX(0) scale3d(0,0,0);
		z-index: 100;

		.album-cover {
			position: relative;
			min-width: 100%;
			max-width: 100%;
			min-height: 100%;
			max-height: 100%;
			display: flex;

			&:hover {
				h1 {
					opacity: 0;
				}
			}
			h1 {
				margin: auto 0 0 0;
				position: relative;
				text-align: center;
				padding: 20px 10px;
				width: 100%;
				background: rgba(0, 0, 0, 0.75);
				color: #eee;
				opacity: 0;
				transition: all 300ms ease-in;
				font-size: 32px;
			}
			img {
				border-radius: 5px;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
		.click-catcher {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: rgba(0,0,0, .25);
			border-radius: 5px;
			transition: 300ms ease-in-out;
		}
	}
	.focused {
		left: 50%;
		visibility: visible;
		transform: translateX(-50%) scale3d(1,1,1);
		transition: all 300ms ease-in-out;
		z-index: 200;

		.click-catcher {
			background: rgba(0,0,0, 0);
		}
	}
	.highlight {
		transform: translateX(-50%) scale3d(1.125, 1.125, 1.125);
		&:hover {
			.album-cover {
				h1 {
					opacity: 1;
				}
			}
		}
		.click-catcher {
			display: none;
		}
	}
	.focus-previous {
		left: 0;
		visibility: visible;
		transform: translateX(-50%) scale3d(.75,.75,.75);
		transition: all 300ms ease-in-out;
	}
	.focus-previous:hover {
		.click-catcher {
			background: rgba(0,0,0, 0);
		}
	}
	.focus-next {
		left: 100%;
		visibility: visible;
		transform: translateX(-50%) scale3d(.75,.75,.75);
		transition: all 300ms ease-in-out;
	}
	.focus-next:hover {
		.click-catcher {
			background: rgba(0,0,0, 0);
		}
	}
	.unfocus-previous {
		left: -25%;
		visibility: visible;
		transform: translateX(-50%) scale3d(0,0,0);
		transition: all 300ms ease-in-out;
		z-index: 99;
		.click-catcher {
			background: rgba(0,0,0, 1);
		}
	}
	.unfocus-next {
		left: 125%;
		visibility: visible;
		transform: translateX(-50%) scale3d(0,0,0);
		transition: all 300ms ease-in-out;
		z-index: 99;
		.click-catcher {
			background: rgba(0,0,0, 1);
		}
	}
	.btns {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 50px;
		left: 0;
		display: flex;
		opacity: .5;
		z-index: 99;

		&:hover {
			opacity: 1;
		}
		.btn {
			position: relative;
			margin: auto 5px;
			padding: 10px;
			cursor: pointer;

			&:hover {
				> div {
					background: #000;
				}
			}
			> div {
				width: 10px;
				height: 10px;
				border-radius: 10px;
				border: 2px solid #333;
			}
			.active {
				background: #000;
			}
		}
	}
	.disabled {
		.btn {
			cursor: auto;
		}
	}
}

.video-popup {
	display: flex;
	position: absolute;
	width: 100%;
	height: ~"calc(100% - 100px)";
	top: 0;
	left: 0;
	background: #fff;
	padding: 50px 0;
	-webkit-box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.25);
	box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.25);
	transform: translateX(100%);
	transition: 300ms ease-in-out;
	z-index: 300;

	> div {
		margin: auto 0;
		display: flex;
		width: 100%;
	}
	.video-content {
		background: #fff;
		position: relative;
		margin: 0 50px;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			border-radius: 5px;
		}
	}
	.album-content {
		position: relative;
		flex: 1;
		background: #fff;
		color: #333;
		height: 100%;
		-webkit-box-shadow: inset 0 0 20px 5px rgba(0,0,0,0.25);
		-moz-box-shadow: inset 0 0 20px 5px rgba(0,0,0,0.25);
		box-shadow: inset 0 0 20px 5px rgba(0,0,0,0.25);
		margin-right: 50px;
		border-radius: 5px;

		> div {
			position: relative;
			margin: 10px;
			display: flex;
			border-bottom: 1px solid #eee;

			&:hover {
				border-bottom: 1px solid #aaa;
			}
			> div {
				position: relative;
				display: flex;
				min-width: 50px;
			}
		}
		h1 {
			width: 100%;
			position: relative;
			padding: 10px;
			margin: auto 0 0 0;
			line-height: 150%;
			cursor: pointer;
		}
		img {
			cursor: pointer;
			width: 40px;
			margin: auto;
		}
		.loader {
			width: 50px;
			height: 50px;
			margin: auto;

			> div {
				top: 10px;
				left: 10px;
				width: 30px;
				height: 30px;
			}
		}
	}
}

.active_popup {
	transform: none;
}

@media all and (max-width: 1024px) {
	.albums {

		.album {

			.album-cover {
				h1 {
					font-size: 24px;
				}
			}
		}
	}
	.video-popup {

		> div {
			margin: 0;
		}
		.video-content {
			display: none;
		}
		.album-content {
			margin: 0 50px;
			height: 100% ~"!important";

			h1 {
				font-size: 24px;
				padding: 5px;
			}
			img {
				width: 30px;
			}
			.loader {
				width: 30px;
				height: 30px;

				> div {
					top: 2.5px;
					left: 2.5px;
					width: 25px;
					height: 25px;
				}
			}
		}
	}
}

@media all and (max-width: 600px) {
	.albums {

		.album {

			.album-cover {
				h1 {
					font-size: 18px;
				}
			}
		}
	}
	.video-popup {

		.album-content {
			margin: 0 20px;

			h1 {
				font-size: 20px;
			}
			img {
				width: 24px;
			}
			.loader {
				width: 24px;
				height: 24px;

				> div {
					top: 2px;
					left: 2px;
					width: 20px;
					height: 20px;
				}
			}
		}
	}
}
