
/* The Perfect Scrollbar Doesn't E... What what?? */
@import '~perfect-scrollbar/dist/css/perfect-scrollbar.min.css';
.ps__scrollbar-y-rail, .ps__scrollbar-x-rail {
	z-index: 10000;
}
.hide-scrollbar.ps.ps--active-y>.ps__scrollbar-y-rail {
	display: none;
}
bnb-popup .ps.ps--active-y>.ps__scrollbar-y-rail {
	display: block;
}

bnb-slider {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	min-height: calc(100% - 50px);
}

/* on full view -> align left */
.full .links .first-flex {
	display: none !important;
}

@keyframes fade-in-page {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.page-not-found {
	animation: fade-in-page 300ms ease-out;
}

.slide-in-left .video-album {
	animation: slide-in-left 300ms ease-in-out;
	transform: none;
}

.slide-out-left .video-album {
	animation: slide-out-left 300ms ease-in-out;
	transform: translateX(-100%);
}

@keyframes slide-in-left {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: none;
	}
}

@keyframes slide-out-left {
	from {
		transform: none;
	}
	to {
		transform: translateX(-100%);
	}
}

.slide-in-right .photo-album {
	animation: slide-in-right 300ms ease-in-out;
	transform: none;
}

.slide-out-right .photo-album {
	animation: slide-out-right 300ms ease-in-out;
	transform: translateX(100%);
}

@keyframes slide-in-right {
	from {
		transform: translateX(100%);
	}
	to {
		transform: none;
	}
}

@keyframes slide-out-right {
	from {
		transform: none;
	}
	to {
		transform: translateX(100%);
	}
}

